.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-bar {
  text-align: center;
  background-color: black !important;
}

.app-bar h1 {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding-top: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
