.form-group {
  margin-left: 15px;
}
.btn {
  background: #33a6cc;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
}

.btn:hover {
  background: #3276b1;
  color: #ffffff;
}

.form-subtitle {
  position: relative;
  top: 21px;
  left: 4px;
  text-align: center;
  padding-bottom: 30px;
}

.form-style {
  margin-left: 20px;
  margin-top: 26px;
  line-height: 3;
}

.form-button {
  line-height: normal;
  margin-top: 13px;
}

.form-input {
  padding-bottom: 15px;
}
