.form-group {
  margin-left: 15px;
}

.form-check {
  text-align: left;
}

.form-check-label {
  margin-left: 5px;
}

.btn {
  background: #33a6cc;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
}

.btn:hover {
  background: #3276b1;
  color: #ffffff;
}
