.location-list {
  padding: 20px;
  width: 50%;
  margin: auto;
}

.categories {
  background-color: black;
  color: white;
}

.btn-danger {
  margin-left: 10px;
  background-color: #d9534f;
}

.search {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}

.sidebar {
  border-right: 1px solid #d3d3d3;
  max-height: 100vh;
  max-width: 30%;
  min-height: 100vh;
  overflow: scroll;
}

.hit {
  margin-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: "Roboto";
}

.hit-name {
  font-weight: bold;
  font-size: 110%;
}

.hit-address {
  color: #8f9193;
}

.hit-seeking {
  margin-top: 5px;
  font-size: 90%;  
}

.subtitle {
  position: relative;
  top: 13px;
  left: 3px;
}

.ais-HierarchicalMenu__items {
  font-family: "Roboto" !important;
  margin-left: 20px;
  padding-bottom: 25px;
  text-transform: capitalize;
}

.ais-HierarchicalMenu__itemLink {
  font-size: 110% !important;
}

.tab {
  background-color: black !important;
}
