.location-list {
  padding: 20px;
  width: 50%;
  margin: auto;
}

.categories {
  background-color: black;
  color: white;
}

.btn-danger {
  margin-left: 10px;
  background-color: #d9534f;
}

.search {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}

.sidebar {
  border-right: 1px solid #d3d3d3;
  min-height: 100vh;
}

.hit {
  margin-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: "Roboto";
}

.hit-name {
  font-weight: bold;
  font-size: 110%;
}

.hit-address {
  color: #8f9193;
}

.hit-seeking {
  margin-top: 5px;
  font-size: 90%;  
}
